---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-BoldItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-ExtraLightItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-ExtraLight.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-LightItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-Light.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-MediumItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-Medium.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBoldItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-ThinItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Serif/IBMPlexSerif-Thin.ttf" as="font" type="font/ttf" crossorigin />

<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-ThinItalic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/IBM_Plex_Mono/IBMPlexMono-Thin.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<ClientRouter />
